sitemap.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.sitemaps.org/schemas/sitemap/0.9" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="urlset" type="ns:urlsetType" xmlns:ns="http://www.sitemaps.org/schemas/sitemap/0.9"/>
  <xs:complexType name="urlType">
    <xs:sequence>
      <xs:element name="loc">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="https://lab.sppural.ru/"/>
            <xs:enumeration value="https://lab.sppural.ru/climate"/>
            <xs:enumeration value="https://lab.sppural.ru/seismic"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="xs:string" name="lastmod"/>
      <xs:element type="xs:string" name="changefreq"/>
      <xs:element type="xs:string" name="priority"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="urlsetType">
    <xs:sequence>
      <xs:element type="ns:urlType" name="url" maxOccurs="unbounded" minOccurs="0" xmlns:ns="http://www.sitemaps.org/schemas/sitemap/0.9"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>